@model eRentSolution.ViewModels.Catalog.Products.ProductCreateRequest

@{ ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout3.cshtml"; }
<link rel="stylesheet" href="~/css/input.css" />
<script src='https://cdn.jsdelivr.net/gh/vietblogdao/js/districts.min.js'></script>
<div class="container-contact100">
    <div class="wrap-contact100" style="width:auto; max-width:1024px;">
        <form asp-action="Create" enctype="multipart/form-data" class="contact100-form validate-form">

            <span class="contact100-form-title">
                Tạo tin tức
            </span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Tên tin tức</span>
                <input class="input100" asp-for="Name">
                <span class="focus-input100"></span>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <span class="label-input100">Danh mục tin tức</span>
            @for (int i = 0; i < Model.Categories.Count; i++)
            {
                <div class="form-group">
                    <label>
                        <input type="checkbox" asp-for="Categories[i].Selected" />
                        <input type="hidden" asp-for="Categories[i].Id" />
                        <input type="hidden" asp-for="Categories[i].Name" />
                        @Model.Categories[i].Name
                    </label>
                </div>
            }
            <select style="margin-left:0; border:1px solid #7f7f7f" id="province" name="calc_shipping_provinces" required="">
                <option value="">Tỉnh / Thành phố</option>
            </select>
            <select style=" border:1px solid #7f7f7f" id="district" name="calc_shipping_district" required="">
                <option value="">Quận / Huyện</option>
            </select>
            <input class="billing_address_2" asp-for="Address" type="hidden" value="">
            <span asp-validation-for="Address" class="text-danger"></span>

            <div class="wrap-input100 validate-input">
                <span class="label-input100">Địa chỉ</span>
                <input class="input-add input100" />
                <span class="focus-input100"></span>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Mô tả</span>
                <textarea class="input100" asp-for="Description" rows="5"></textarea>
                <span class="focus-input100"></span>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Chủ đề tìm kiếm</span>
                <input class="input100" asp-for="SeoTitle">
                <span class="focus-input100"></span>
                <span asp-validation-for="SeoTitle" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Từ khóa tìm kiếm</span>
                <input class="input100" asp-for="SeoAlias">
                <span class="focus-input100"></span>
                <span asp-validation-for="SeoAlias" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Mô tả tìm kiếm</span>
                <input class="input100" asp-for="SeoDescription">
                <span class="focus-input100"></span>
                <span asp-validation-for="SeoDescription" class="text-danger"></span>
            </div>
            <p style="font-size:24px; color:black; font-weight:700;">Thông tin chi tiết</p>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Tên loại sản phẩm</span>
                <input class="input100" asp-for="SubProductName">
                <span class="focus-input100"></span>
                <span asp-validation-for="SubProductName" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Giá hiện tại</span>
                <input class="input100" asp-for="Price" type="number">
                <span class="focus-input100"></span>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Giá gốc</span>
                <input class="input100" asp-for="OriginalPrice" type="number">
                <span class="focus-input100"></span>
                <span asp-validation-for="OriginalPrice" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Số lượng</span>
                <input class="input100" asp-for="Stock" type="number">
                <span class="focus-input100"></span>
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Dài</span>
                <input class="input100" asp-for="Length" type="number">
                <span class="focus-input100"></span>
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Rộng</span>
                <input class="input100" asp-for="Width" type="number">
                <span class="focus-input100"></span>
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>

            <div class="wrap-input100 validate-input">
                <span class="label-input100">Chi tiết</span>
                <textarea class="input100" asp-for="Detail" rows="5" id="mytextarea"></textarea>
                <span class="focus-input100"></span>
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>

            <div class="wrap-input100 validate-input">
                <span class="label-input100">Ảnh đại diện</span>
                <input class="input100" asp-for="ThumbnailImage" type="file">
                <span class="focus-input100"></span>
                <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
            </div>
            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <button type="submit" onclick="myFunction()" class="contact100-form-btn">
                        <span>
                            Submit
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    tinymce.init({
        selector: '#mytextarea',
        plugins: [
            'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
            'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
            'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount',
            "preview", "importcss", "searchreplace", "autolink", "autosave", "save", "directionality", "code", "visualblocks",
            "visualchars", "fullscreen", "image", "link", "media", "template", "codesample", "table", "charmap", "pagebreak", "nonbreaking", "anchor",
            "insertdatetime", "advlist", "lists", "wordcount", "help", "charmap", "table", "emoticons",
        ],
        fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt",
        toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
            'alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
    });
</script>

<script>

    window.onclick = function (event) {
        openCloseDropdown(event)
    }

    function closeAllDropdown() {
        var dropdowns = document.getElementsByClassName('dropdown-expand')
        for (var i = 0; i < dropdowns.length; i++) {
            dropdowns[i].classList.remove('dropdown-expand')
        }
    }

    function openCloseDropdown(event) {
        if (!event.target.matches('.dropdown-toggle')) {
            //
            // Close dropdown when click out of dropdown menu
            //
            closeAllDropdown()
        } else {
            var toggle = event.target.dataset.toggle
            var content = document.getElementById(toggle)
            if (content.classList.contains('dropdown-expand')) {
                closeAllDropdown()
            } else {
                closeAllDropdown()
                content.classList.add('dropdown-expand')
            }
        }
    }

    /*=============select tinh quan ==============*/

    if (address_2 = localStorage.getItem('address_2_saved')) {
        $('select[name="calc_shipping_district"] option').each(function () {
            if ($(this).text() == address_2) {
                $(this).attr('selected', '')
            }
        })

        $('input.billing_address_2').attr('value', address_2)
    }
    if (district = localStorage.getItem('district')) {
        $('select[name="calc_shipping_district"]').html(district)
        $('select[name="calc_shipping_district"]').on('change', function () {
            var target = $(this).children('option:selected')
            target.attr('selected', '')
            $('select[name="calc_shipping_district"] option').not(target).removeAttr('selected')
            address_2 = target.text()
            $('input.billing_address_2').attr('value', address_2)
            district = $('select[name="calc_shipping_district"]').html()
            localStorage.setItem('district', district)
            localStorage.setItem('address_2_saved', address_2)
        })
    }
    $('select[name="calc_shipping_provinces"]').each(function () {

        var $this = $(this),
            stc = ''
        c.forEach(function (i, e) {
            e += +1
            stc += '<option value=' + e + '>' + i + '</option>'
            $this.html('<option value="">Tỉnh / Thành phố</option>' + stc)
            if (address_1 = localStorage.getItem('address_1_saved')) {
                $('select[name="calc_shipping_provinces"] option').each(function () {
                    if ($(this).text() == address_1) {
                        $(this).attr('selected', '')
                    }
                })


                $('input.billing_address_1').attr('value', address_1)
            }
            $this.on('change', function (i) {
                i = $this.children('option:selected').index() - 1
                var str = '',
                    r = $this.val()
                if (r != '') {
                    arr[i].forEach(function (el) {
                        str += '<option value="' + el + '">' + el + '</option>'
                        $('select[name="calc_shipping_district"]').html('<option value="">Quận / Huyện</option>' + str)
                    })
                    var address_1 = $this.children('option:selected').text()
                    var district = $('select[name="calc_shipping_district"]').html()
                    localStorage.setItem('address_1_saved', address_1)
                    localStorage.setItem('district', district)
                    $('select[name="calc_shipping_district"]').on('change', function () {
                        var target = $(this).children('option:selected')
                        target.attr('selected', '')
                        $('select[name="calc_shipping_district"] option').not(target).removeAttr('selected')
                        var address_2 = target.text()
                        $('input.billing_address_2').attr('value', address_2)
                        district = $('select[name="calc_shipping_district"]').html()
                        localStorage.setItem('district', district)
                        localStorage.setItem('address_2_saved', address_2)
                    })
                } else {
                    $('select[name="calc_shipping_district"]').html('<option value="">Quận / Huyện</option>')
                    district = $('select[name="calc_shipping_district"]').html()
                    localStorage.setItem('district', district)
                    localStorage.removeItem('address_1_saved', address_1)
                }
            })
        })
    })
    function myFunction() {
        var provinceText = $("#province option:selected").text();
        var districtText = $("#district option:selected").text();
        // bien luu dia chi
        var road = document.querySelector("input.input-add").value
        var address = road + "_" + districtText + "_" + provinceText
        var add = document.querySelector('input.billing_address_2');
        add.value = address;
        console.log(add.value);
    }

</script>