@model eRentSolution.ViewModels.Catalog.Products.ProductCreateRequest

@{ ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout3.cshtml"; }

<div class="container-contact100">
    <div class="wrap-contact100">
        <form asp-action="Create" enctype="multipart/form-data" class="contact100-form validate-form">
            <span class="contact100-form-title">
                Tạo sản phẩm
            </span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Tên sản phẩm</span>
                <input class="input100" asp-for="Name">
                <span class="focus-input100"></span>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Tên loại sản phẩm</span>
                <input class="input100" asp-for="SubProductName">
                <span class="focus-input100"></span>
                <span asp-validation-for="SubProductName" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Giá hiện tại</span>
                <input class="input100" asp-for="Price" type="number">
                <span class="focus-input100"></span>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Giá gốc</span>
                <input class="input100" asp-for="OriginalPrice" type="number">
                <span class="focus-input100"></span>
                <span asp-validation-for="OriginalPrice" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Số lượng</span>
                <input class="input100" asp-for="Stock" type="number">
                <span class="focus-input100"></span>
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Dài</span>
                <input class="input100" asp-for="Length" type="number">
                <span class="focus-input100"></span>
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Rộng</span>
                <input class="input100" asp-for="Width" type="number">
                <span class="focus-input100"></span>
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Địa chỉ</span>
                <textarea class="input100" asp-for="Address"></textarea>
                <span class="focus-input100"></span>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Mô tả</span>
                <textarea class="input100" asp-for="Description" rows="2"></textarea>
                <span class="focus-input100"></span>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Chi tiết</span>
                <textarea class="input100" asp-for="Detail" rows="5"></textarea>
                <span class="focus-input100"></span>
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Chủ đề tìm kiếm</span>
                <input class="input100" asp-for="SeoTitle">
                <span class="focus-input100"></span>
                <span asp-validation-for="SeoTitle" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Từ khóa tìm kiếm</span>
                <input class="input100" asp-for="SeoAlias">
                <span class="focus-input100"></span>
                <span asp-validation-for="SeoAlias" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Mô tả tìm kiếm</span>
                <input class="input100" asp-for="SeoDescription">
                <span class="focus-input100"></span>
                <span asp-validation-for="SeoDescription" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Ảnh đại diện</span>
                <input class="input100" asp-for="ThumbnailImage" type="file">
                <span class="focus-input100"></span>
                <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
            </div>
            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <button type="submit" class="contact100-form-btn">
                        <span>
                            Submit
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>






/*//////////////////////////////////////////////////////////////////
[ FONT ]*/





/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

