@model eRentSolution.ViewModels.Catalog.ProductDetails.ProductDetailUpdateRequest

@{
    ViewData["Title"] = "EditDetail";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<link rel="stylesheet" href="~/css/input.css" />


<div class="container-contact100">
    <div class="wrap-contact100" style="width:auto; max-width:1024px;">
        <form asp-action="EditDetail" enctype="multipart/form-data" method="post" class="contact100-form validate-form">
            <span class="contact100-form-title">
                Cập nhật chi tiết sản phẩm
            </span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Tên loại sản phẩm</span>
                <input class="input100" asp-for="ProductDetailName">
                <span class="focus-input100"></span>
                <span asp-validation-for="ProductDetailName" class="text-danger"></span>
            </div>

            <div class="wrap-input100 validate-input">
                <span class="label-input100">Giá hiện tại</span>
                <textarea class="input100" asp-for="Price" rows="2"></textarea>
                <span class="focus-input100"></span>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="wrap-input100 validate-input">
                <span class="label-input100">Giá gốc</span>
                <input class="input100" asp-for="OriginalPrice">
                <span class="focus-input100"></span>
                <span asp-validation-for="OriginalPrice" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Tồn kho</span>
                <input class="input100" asp-for="Stock">
                <span class="focus-input100"></span>
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Chi tiết</span>
                <textarea class="input100" rows="5" asp-for="Detail" id="mytextarea"></textarea>
                <span class="focus-input100"></span>
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Rộng</span>
                <input class="input100" asp-for="Width">
                <span class="focus-input100"></span>
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Dài</span>
                <input class="input100" asp-for="Length">
                <span class="focus-input100"></span>
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <input asp-for="Id" type="hidden" input />
                    <input asp-for="ProductId" type="hidden" input />

                    <button type="submit" class="contact100-form-btn">
                        <span>
                            Cập nhật
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    tinymce.init({
        selector: '#mytextarea',
        plugins: [
            'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
            'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
            'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount',
            "preview","importcss","searchreplace","autolink","autosave","save", "directionality","code","visualblocks",
            "visualchars", "fullscreen", "image", "link", "media", "template", "codesample", "table", "charmap", "pagebreak", "nonbreaking", "anchor",
            "insertdatetime","advlist","lists","wordcount","help","charmap","table","emoticons",
        ],
        fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt",
        toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
            'alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
    });
</script>