@model eRentSolution.ViewModels.Catalog.Products.ProductUpdateRequest

@{ ViewData["Title"] = "Edit";
                Layout = "~/Views/Shared/_Layout3.cshtml"; }
<link rel="stylesheet" href="~/css/input.css" />
<div class="container-contact100">
    <div class="wrap-contact100">
        <form asp-action="Edit" enctype="multipart/form-data" method="post" class="contact100-form validate-form">
            <span class="contact100-form-title">
                Cập nhật sản phẩm
            </span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Tên sản phẩm</span>
                <input class="input100" asp-for="Name">
                <span class="focus-input100"></span>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
 
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Địa chỉ</span>
                <textarea class="input100" asp-for="Description" rows="2"></textarea>
                <span class="focus-input100"></span>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @*<div class="wrap-input100 validate-input">
                <span class="label-input100">Chi tiết</span>
                <textarea class="input100" asp-for="Details" rows="5"></textarea>
                <span class="focus-input100"></span>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>*@
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Chủ đề tìm kiếm</span>
                <input class="input100" asp-for="SeoTitle">
                <span class="focus-input100"></span>
                <span asp-validation-for="SeoTitle" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Từ khóa tìm kiếm</span>
                <input class="input100" asp-for="SeoAlias">
                <span class="focus-input100"></span>
                <span asp-validation-for="SeoAlias" class="text-danger"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Mô tả tìm kiếm</span>
                <input class="input100" asp-for="SeoDescription">
                <span class="focus-input100"></span>
                <span asp-validation-for="SeoDescription" class="text-danger"></span>
            </div>
            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <input asp-for="Id" type="hidden" input />

                    <button type="submit" class="contact100-form-btn">
                        <span>
                            Cập nhật
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

