@model eRentSolution.ViewModels.System.Users.ForgotPasswordRequest;
@{ ViewData["Title"] = "ForgotPassword";
    Layout = null; }


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Đăng nhập hệ thống</title>

    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>

    <title>Đăng ký và đăng nhập</title>
    <link href="~/css/style2.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">

                <form asp-action="forgotpassword" asp-controller="user" method="post" class="sign-in-form">
                    <h2 class="title">Quên mật khẩu</h2>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input asp-for="Email" type="text" placeholder="Nhập email" />
                    </div>
                    <input type="submit" value="Gửi yêu cầu" class="btn solid" />
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Có gì mới ?</h3>
                    <p>
                        Hãy đăng kí tài khoản để bạn có thể trở thành quản trị viên của website
                    </p>
                    <a href="/Login">
                        <button class="btn transparent" id="sign-up-btn">
                            Đăng nhập
                        </button>
                    </a>
                </div>
                <img src="./assets/img/log.svg" class="image" alt="" />
            </div>
            
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
   
</body>
</html>












