@model eRentSolution.ViewModels.Utilities.Contacts.ContactStatusRequest;

@{ ViewData["Title"] = "Xóa thông tin liên hệ";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="container-fluid">
    <h1 class="mt-4">Xóa thông tin liên hệ</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a class="nav-link" asp-action="index" asp-controller="home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Xóa thông tin liên hệ</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="contact">Về danh sách</a>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                </dl>
                <form asp-action="Delete">
                    <input asp-for="Id" type="hidden" input />
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                </form>

            </div>
        </div>
    </div>
</div>