@model eRentSolution.ViewModels.Catalog.Categories.CategoryStatusRequest
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{ ViewData["Title"] = "Xóa sản phẩm";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="container-fluid">
    <h1 class="mt-4">Xóa</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a class="nav-link" asp-action="index" asp-controller="home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Xóa</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Category">Về danh sách</a>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Thuộc tính
                            </th>
                            <th>
                                Mô tả
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.CategoryImagePath)

                            </td>
                            <td>
                                <img src="@Configuration["BaseAddress"]/user-content/@Model.CategoryImagePath" alt="N/A" style="width: 70px; height: 70px; object-fit: cover;">
                            </td>
                        </tr>
                    </tbody>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.CategoryName)

                            </td>
                            <td>
                                @Html.DisplayFor(model => model.CategoryName)
                            </td>
                        </tr>
                    </tbody>
                </table>


                <form asp-action="DeleteCategory">
                    <input asp-for="Id" type="hidden" input />
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>