@model eRentSolution.ViewModels.Catalog.Categories.CategoryImageUpdateRequest
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    ViewData["Title"] = "EditImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <h1 class="mt-4">Cập nhật ảnh danh mục</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Cập nhật người dùng</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Category">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Thuộc tính
                            </th>
                            <th>
                                Mô tả
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.CategoryOldImagePath)

                            </td>
                            <td>
                                <img src="@Configuration["BaseAddress"]/user-content/@Model.CategoryOldImagePath" alt="N/A" style="width: 70px; height: 70px; object-fit: cover;">
                            </td>
                        </tr>
                    </tbody>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.CategoryName)

                            </td>
                            <td>
                                @Html.DisplayFor(model => model.CategoryName)
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="col-md-4">
                    <form asp-action="EditImage" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="ImageFile" class="control-label"></label>
                            <input asp-for="ImageFile" type="file" class="form-control" />
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="CategoryId" type="hidden" input />
                            <input type="submit" value="Lưu lại" class="btn btn-primary" />
                        </div>
                    </form>

                </div>
        </div>

    </div>
</div>