@model eRentSolution.ViewModels.Catalog.Products.ProductCreateRequest

@{ ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script src='https://cdn.jsdelivr.net/gh/vietblogdao/js/districts.min.js'></script>
<div class="container-fluid">
    <h1 class="mt-4">Tạo mới sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tạo mới sản phẩm</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Product">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-4">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Tên sản phẩm</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SubProductName" class="control-label">Tên loại sản phẩm</label>
                        <input asp-for="SubProductName" class="form-control" />
                        <span asp-validation-for="SubProductName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label">Giá hiện tại</label>
                        <input asp-for="Price" type="number" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OriginalPrice" class="control-label">Giá gốc</label>
                        <input asp-for="OriginalPrice" type="number" class="form-control" />
                        <span asp-validation-for="OriginalPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Stock" class="control-label">Số lượng</label>
                        <input asp-for="Stock" type="number" class="form-control" />
                        <span asp-validation-for="Stock" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Mô tả</label>
                        <textarea asp-for="Description" rows="5" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Width" class="control-label">Chiều rộng</label>
                        <input asp-for="Width" class="form-control" />
                        <span asp-validation-for="Width" class="text-danger"></span>
                    </div><div class="form-group">
                        <label asp-for="Length" class="control-label">Chiều dài</label>
                        <input asp-for="Length" class="form-control" />
                        <span asp-validation-for="Length" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Detail" class="control-label">Chi tiết</label>
                        <textarea asp-for="Detail" rows="5" class="form-control"></textarea>
                        <span asp-validation-for="Detail" class="text-danger"></span>
                    </div>
                  
                    <div class="form-group">
                        <label asp-for="Address" class="control-label">Địa chỉ</label>
                        <input asp-for="Address" class="form-control" placeholder="Nhập số nhà, đường, phường" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <select style="margin-left:0; border:1px solid #7f7f7f; height:38px;" id="province" name="calc_shipping_provinces" required="">
                            <option value="">Tỉnh / Thành phố</option>
                        </select>
                        <select style=" border:1px solid #7f7f7f;height:38px;" id="district" name="calc_shipping_district" required="">
                            <option value="">Quận / Huyện</option>
                        </select>
                    </div>
                    

                    <div class="form-group">
                        <label asp-for="ThumbnailImage" class="control-label">Ảnh đại diện</label>
                        <input asp-for="ThumbnailImage" type="file" class="form-control" />
                        <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SeoTitle" class="control-label">Chủ đề tìm kiếm</label>
                        <input asp-for="SeoTitle" class="form-control" />
                        <span asp-validation-for="SeoTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SeoAlias" class="control-label">Từ khóa tìm kiếm</label>
                        <input asp-for="SeoAlias" class="form-control" />
                        <span asp-validation-for="SeoAlias" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SeoDescription" class="control-label">Mô tả tìm kiếm</label>
                        <input asp-for="SeoDescription" class="form-control" />
                        <span asp-validation-for="SeoDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" onclick="myFunction()" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/select.js"></script>