@model eRentSolution.ViewModels.System.Users.UserUpdatePasswordRequest

@{ ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout3.cshtml"; }





<link rel="stylesheet" href="~/css/input.css" />
<div class="container-contact100">
    <div class="wrap-contact100">
        <form asp-action="ChangePassword" class="contact100-form validate-form">
            <span class="contact100-form-title">
                Cập nhật mật khẩu
            </span>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Mật khẩu hiện tại</span>
                <input type="password" class="input100" asp-for="CurrentPassword">
                <span class="focus-input100"></span>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>

            <div class="wrap-input100 validate-input">
                <span class="label-input100">Mật khẩu mới</span>
                <input type="password"  class="input100" asp-for="NewPassword" >
                <span class="focus-input100"></span>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
       
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Xác nhận mật khẩu</span>
                <input type="password" class="input100" asp-for="ConfirmPassword">
                <span class="focus-input100"></span>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
         
            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <input asp-for="Id" type="hidden" input />

                    <button type="submit" class="contact100-form-btn">
                        <span>
                            Cập nhật
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>