@model eRentSolution.ViewModels.System.Users.ForgotPasswordRequest
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Welcome</h3>
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 style="margin-right:200px;" class="register-heading">Quên mật khẩu</h3>
                    <form asp-action="ForgotPassword" asp-controller="user" method="post">
                        <div class="row register-form">
                            <div class="col-md-8">
                                <div asp-validation-summary="All" class="text-error">
                                    <div class="form-group">
                                        <input type="text" class="form-control"asp-for="Email" placeholder="Nhập email *" />
                                    </div>                                 
                                    <input type="submit" class="btnRegister" value="Gửi yêu cầu" />                  
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

</div>




