@model eRentSolution.ViewModels.System.Users.UserResetPasswordByEmailRequest

@{
    ViewData["Title"] = "ResetPasswordByEmail";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Welcome</h3>
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 style="margin-right:200px;" class="register-heading">Khôi phục mật khẩu</h3>
                    <form asp-action="ResetPasswordByEmail">
                        <div class="row register-form">
                            <div class="col-md-8">
                                <div asp-validation-summary="All" class="text-error">
                                    <div class="form-group">
                                        <input asp-for="Date" type="hidden" value="@(ViewContext.HttpContext.Request.Query["expires"])" hidden />
                                        <input asp-for="Email" type="hidden" value="@(ViewContext.HttpContext.Request.Query["Email"])" hidden />
                                        <input asp-for="Token" type="hidden" value="@(ViewContext.HttpContext.Request.Query["Token"])" hidden />
                                        <input asp-for="Password" type="password" class="form-control"  placeholder="Nhập mật khẩu mới" />
                                    </div>
                                    <input type="submit" class="btnRegister" value="Xác nhận" />
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

</div>